body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff0f6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d63384;
    margin-top: 20px;
}

.navbar {
    background-color: #ffccff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for navbar */
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.nav-link {
    color: #ff66b3;
    margin-left: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: #ff3399;
}

/* Sub-bar styling */
.sub-bar {
    background-color: #ffb3d9; /* Light pink background for the sub-bar */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    margin-bottom: 15px; /* Space between sub-bar and content below */
}

.btn-group .btn {
    background-color: #ff66a3; /* Pink button background */
    border: none;
    margin-right: 10px;
    border-radius: 8px; /* Rounded corners for buttons */
    transition: background-color 0.3s ease;
}

.btn-group .btn:hover {
    background-color: #ff99c2; /* Lighter pink on hover */
}

.search-bar {
    border: 2px solid #d63384; /* Pink border for the search bar */
    border-radius: 8px; /* Rounded corners */
    padding: 5px 10px;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    outline: none;
    border-color: #ff66a3; /* Lighter border when focused */
}

/* Card Styling */
.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title {
    margin-bottom: 10px; /* Spacing under the title */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h5 {
    color: #d63384;
}

.btn-primary {
    width: 100%; /* Make the button full width */
    max-width: 150px; /* Set a maximum width */
    text-align: center; /* Center the button text */
    background-color: #ff99c2;
}

.btn-primary:hover {
    background-color: #ff99c2;
}

.card-wrapper {
    padding: 15px;
}

.col-4, .col-md-6 {
    padding: 5px;
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 15px;
    }
    .card img {
        height: 150px;
    }
}

/* Rating stars */
.rating .fas, 
.rating .far {
    color: #ffc107; /* Yellow color for the stars */
}

.rating .fa-star-half-alt {
    color: #ffc107; /* Ensure the half-star is yellow as well */
}
